version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb-new
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

  backend:
    build: ./server
    container_name: backend-new
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongodb

  frontend:
    build: ./client
    container_name: frontend-new
    restart: always
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://backend-new:5000/api
    depends_on:
      - backend

volumes:
  mongodb_data: